body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.80);
}

#clock {
	color: #aa994c;
	font-size: 7rem;
	font-family: 'Gloria Hallelujah', cursive;
}

@media screen and (max-width: 992px) {
	#clock { font-size: 5rem; }
}

@media screen and (max-width: 768px) {
	#clock { font-size: 4rem; }
}

@media screen and (max-width: 425px) {
    #clock { font-size: 3rem; }
}